body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    /* overflow: hidden; */
}

#form {
    background: lightgray;
    padding: 50px;
    text-align: center;
    margin: 40%;
  }