body {
        text-align: center;
        font-family: arbotek ultra,sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 4em;
        color: blueviolet;
        background: rgb(43, 183, 226);
}

h1 {
        line-height: 100px;
        margin-bottom: 0;
}

h2 {
        font-family: arbotek,sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 30px;
}

#frame-box {
        position: relative;
        text-align: center;
        width: fit-content;
}

#frame {
        max-width: 500px;
}

#search-form {
        margin: 0 auto;
        position: absolute;
        top: 242px;
        right: 25px;
        left: 25px;
        text-align: center;
        width: 450px;
}

div {
        max-width: 500px;
        margin: auto;
}
    
img {
        max-width: 500px;
}

input {
        font-family: arbotek,sans-serif;
        font-weight: 200;
        font-style: normal;
}

.new-picture {
       max-width: 376px;
       max-height: 460px;
}

#slideshow-container {
        position: absolute;
        top: 62px;
        right: 62px;
        max-width: 376px;
        height: 460px;
}