body {
    text-align: center;
}

.main-container{
    border: 2px solid black;
    display: flex;
    flex-direction:column;
}

.search-entry {
    border: 2px solid black;
}


.message {
 font-size: xx-large;
 font-family: 'Architects Daughter', cursive;
 text-align: center;
}



.pic-box {
    border: 2px solid black;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

#main-img {
    max-width: 65%;
    max-height: auto;
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 85%;
    height: auto;
}

